{% extends "base.html" %}

{% block content %}

    {% set professions = ['инженер-исследователь', 'пилот', 'строитель', "экзобиолог", "врач", "инженер по терраформированию",
                   "климатолог", "специалист по радиационной защите", 'астрогеолог', "гляциолог",
                   "инженер жизнеобеспечения", "метеоролог", 'оператор марсохода', "киберинженер",
                   'штурман', 'пилот дронов'] %}

    <h2>Список профессий</h2>

    {% if display == "ol" %}
        <ol>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% elif display == "ul" %}
        <ul>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <div>Неверный параметр</div>
    {% endif %}
{% endblock %}
